.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
}

.statContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-top: 5px;
}

.statName{
    display: flex;
    font-size: 20px;
    justify-content: left;
    padding-left: 10px;
}

.statValue{
    position: relative;
    top:-14px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.statBar{
    margin: 5px;
}

.nameContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin-bottom: 5px;
}