@font-face {
    font-family: "minecraft";
    src: url('../public/fonts/Minecraft.ttf') format('truetype');
}

.box>*{
    color: black;
    text-align: center;
    font-family: 'minecraft';
}

.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px;
    
    width: fit-content;
    height: fit-content;
    font-size:40px;
}


.title{
    font-size: 50px;
}

.hr{
    height: 7px;
    background-color: black;
    border: solid 0 gray;
}