.button{
    font-size: 25px;
    padding: 5px;
    border: 0px;
    margin: 0px;
    border: 3px solid gray;
    min-height: 25px;
    height: 100%;
    width: 100%;
    font-family: 'Minecraft';
    color: black;
    background-color: rgba(211, 211, 211, 0.383);
    transition: all 0.1s;
}

.button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.blocked{
    background-color: rgb(184, 184, 184);
}

.blocked:hover{
    background-color: rgb(184, 184, 184);
    cursor:default;
}

.input{
    background-color: rgb(210, 210, 210);
    border: 3px solid black;
    color: black;
    width: 100%;
    max-width: 300px;
    height: 40px;
    text-align: center;
    font-family : minecraft !important;
}

.input:focus{
    outline: none !important;
    border:3px solid grey;
}

.color{
    background-color: rgb(210, 210, 210);
    border: 3px solid black;
    color: black;
    width: 100%;
    max-width: 300px;
    height: 40px;
    text-align: center;
}

.loaded{
    opacity: 0;
    visibility: hidden;
}

.loading{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.loadingContainer{
    position: absolute;
    width: 100%;
    max-width: 500px;
}