.button{
    font-size: 25px;
    padding: 5px;
    border:7px solid black;
    border-top: 0px;
    border-bottom: 0px;
    width: 50%;
    font-family: 'Minecraft';
    color: black;
    background-color: white;
}

.button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.container{
    margin-top: -7px;
    padding: 0;
}